%h2#what
  - if @p.url.nil?
    #{@p.name}
  - else
    %a{:href => @p.url}
      #{@p.name}


- if @p.url.nil?
  %img#splash{:src => @p.image_url}
- else
  %a{:href => @p.url}
    %img#splash{:src => @p.image_url}

%h3#price
  = "$%.2f" % @p.price

- unless @prev.nil?
  #prev
    %a{:href => "/#{@prev.date.year}/#{@prev.date.month}/#{@prev.date.day}"}
      Previous

- unless @next.nil?
  #next
    %a{:href => "/#{@next.date.year}/#{@next.date.month}/#{@next.date.day}"}
      Next

